<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Motivais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Motivasi</ion-card-title>
      <ion-card-subtitle>Muhammad Mikail Laurana</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lakukan yang terbaik hari ini <br>
      Jangan takut mencoba hal baru. <br>
      Setiap masalah pasti ada solusinya. <br>
      Tetap sabar, hasil baik butuh proses. <br>
      Jangan bandingkan dirimu dengan orang lain. <br>
      Jangan terlalu keras pada diri sendiri. <br>
      Kesalahan adalah bagian dari belajar. <br>
      Bersyukur untuk hal kecil sekalipun. <br> 
      Fokus pada hal-hal yang bisa kamu kendalikan. <br>
      Terus melangkah meski perlahan. <br>
      Berhenti menunda-nunda. <br>
      Temukan kebahagiaan dalam hal-hal sederhana. <br>
      Jadilah orang baik, meski kadang tak dihargai. <br>
      Kesehatan mental sama pentingnya dengan kesehatan fisik. <br>
      Kebahagiaan datang dari dalam diri. <br>
      Ketakutan sering kali hanya ada di pikiran kita. <br>
      Percayalah pada proses. <br>
      Jangan biarkan kesalahan kemarin mengganggu hari ini. <br>
      Ketulusan akan selalu punya jalan. <br>
      Tersenyumlah, meski hari terasa sulit. <br>
      Kamu berhak untuk bahagia. <br>
      Terima kenyataan dan buat rencana ke depan. <br>
      Jangan lupa istirahat saat lelah. <br>
      Jadilah pendengar yang baik untuk dirimu sendiri. <br>
      Terus kembangkan diri, meski pelan-pelan. <br>
      Tak apa-apa kalau harus mengulang. <br>
      Tetap rendah hati, pencapaianmu akan diingat. <br>
      Luangkan waktu untuk dirimu sendiri. <br>
      Mimpi besar dimulai dengan langkah kecil. <br>
      Hidup untuk hari ini, nikmati tiap momennya.  <br>
    </ion-card-content>
  </ion-card>
</ion-content>
